# WooCommerce Configuration
WC_URL=https://www.xiabenhow.com
WC_CONSUMER_KEY=ck_868a79ee46004ddaf74b27fa160d825fa2b912df
WC_CONSUMER_SECRET=cs_0dfd32201445c7146da9ec5b15d69625749a679d

# ECPay Configuration
ECPAY_MERCHANT_ID=3180783
ECPAY_HASH_KEY=fUM6YrkOCOy97L1R
ECPAY_HASH_IV=nGn83NCaxb7RdTVk

# LINE Pay Configuration
LINE_PAY_CHANNEL_ID=1655324703
LINE_PAY_CHANNEL_SECRET=cb9b109d9d067544ebf504d77c22b5d9
